


.indicater{
    width: 400px;
    background-color: rgb(255, 188, 188);
}

#indicater{
    background-color: rgb(251, 119, 115);
    padding-left: 20px;
    line-height: 30px;
    transition: 0.5;
}

.card-wrap{
    position: fixed;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    height: 500px;
    text-align: center;
    border: solid 4px rgb(21, 148, 221);
    border-radius: 25px;
    box-shadow: rgb(255, 187, 0) 10px 15px;
    z-index: 50;
    background-color: white;
    display: none;
}

.active{
    display: block;
}
 
.card-sec-num{
    margin-top: 10px;
}

.card-word{
    margin-top: 10px;
    font-size: 70px;
}

.card-meaning{
    font-size: 30px;
    display: none;
}

.card-pron{
    opacity: 0.3;
    font-size: 15px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}

.answer{
    position: absolute;
    top: 250px;
    width: 100%;
}
  
.show-btn-wrap{
    position: absolute;
    top: 400px;
    width: 100%;
}


.show-btn{
    font-size: 20px;
    border: solid 2px black;
    background-color: rgb(195, 246, 255);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}


.answer-btn{
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.answer-btn:hover{
    background-color: rgb(252, 237, 196);
}

.answer-btn:active{
    position: relative;
    top: 4px;
    left: 4px;
    box-shadow: none;
}

.test{
    display: block;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(255, 187, 0);
    width: 40px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 3px;
}

.last-card{
    padding: 30px 50px;
}

.last-title-k{
    font-size: 45px;
}

.last-title{
    margin-bottom: 20px;
}    

.bar3-wrap{
    background-color: rgba(118, 214, 249, 0.329);
    line-height: 50px;
    overflow: hidden;
}

.bar3{
    color: black;
    font-size: 20px;
}

.ar.bar3-wrap{
    background-color: rgba(118, 214, 249, 0.329);
}

.ar.bar3{
    background-color: rgb(118, 214, 249);
}

.prg.bar3-wrap{
    background-color: rgba(118, 214, 249, 0.329);
}

.prg.bar3{
    background-color: rgb(118, 255, 143);
}

#result-bar, #result-bar2{
    transition: 1s;
    transform: translate(-100%, 0);
}

#result-bar.visible, #result-bar2.visible{
    transform: translate(0, 0);

}

.last-goto{
    margin-top: 40px;
}

.last-goto a{
    color: rgb(0, 0, 61);
    font-size: 20px;
}

.lg1{
    margin: 0 15px;
}

.lg2{
    margin-top: 20px;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .indicater{
        width: 100%;
    }

    .h1{
        margin-right: 7px;
    }

    .answer{
        position: absolute;
        top: 230px;
    }

    .answer-btn{
        width: 31%;
        height: 150px;
        margin-left: 0;
        margin-right: 0;
        border: solid 3px black;
    }
}

@media screen and (max-width:450px){
    .card-wrap{
        max-width: 400px;
        margin-left: 13px;
        margin-right: 23px;
    }

    .card-wrap.dark-theme{
        margin-right: 15px;
    }
}

@media screen and (max-width:800px){
}

@media screen and (max-width:1024px){
}
