header.dark-theme{
    background-color: rgb(33, 33, 33);
    border-bottom: 2px solid rgb(184, 184, 184);
}

header.light-theme{
    background-color: rgb(188, 224, 255);
}

.nav-btn.dark-theme{
    background-color: var(--dark-bgc);
}

label.dark-theme{
    border: solid 2px rgb(182, 182, 182);
    background-color: rgb(15, 15, 15);
}

label.dark-theme .darkmode-icon{
    color: white;
    border-color: white;
    box-shadow: -8px 0 0 -3px white,  8px 0 0 -3px white,  0 -8px 0 -3px white,  0 8px 0 -3px white,  -6px -6px 0 -3px white,  -6px 6px 0 -3px white,  6px -6px 0 -3px white,  6px 6px 0 -3px white;
    right: 33px;
}

label.dark-theme .slider{
    left: 30px;
    border: solid 2px rgb(182, 182, 182);
    background-color: rgb(20, 20, 20);
}

/* .dark-theme{
    background-color: rgb(37, 60, 71);
    color: white;
} */

.box.dark-theme{
    background-color: rgb(37, 40, 45);
}

.status-wrap.dark-theme{
    background-color: var(--dark-bgc2);
}

.status.dark-theme{
    border: solid 2px rgb(245, 171, 97);
    box-shadow: rgb(237, 156, 85) 3px 3px;
}

.st-num.dark-theme{
    color: rgb(254, 254, 254);
}

.bar1-ar-wrap.dark-theme{
    background-color: #6b6b6b;
}

.bar1-prg-wrap.dark-theme{
    background-color: #6b6b6b;
}

.bar.dark-theme{
    color: black;
}

.section.dark-theme{   
    box-shadow: rgb(255, 213, 98) 4px 4px;
    border: solid 2px rgb(255, 215, 97);
}

.section.dark-theme:nth-child(2){
    border: solid 2px rgb(238, 125, 125);
    box-shadow: 4px 4px rgb(232, 140, 135);
}

.section.dark-theme:nth-child(3){
    border: solid 2px rgb(238, 250, 255);
    box-shadow: 5px 5px rgb(241, 250, 255);
}

.section.dark-theme:nth-child(4){
    border: solid 2px rgb(158, 232, 232);
    box-shadow: 5px 5px rgb(167, 232, 248);
}

.section.dark-theme:nth-child(5){
    border: solid 2px rgb(252, 172, 255);
    box-shadow: 5px 5px rgb(253, 181, 253);
}

.section.dark-theme:nth-child(6){
    border: solid 2px rgb(255, 115, 115);
    box-shadow: 5px 5px rgb(255, 100, 100);
}

.section.dark-theme:nth-child(7){
    border: solid 2px rgb(164, 247, 209);
    box-shadow: 5px 5px rgb(178, 255, 224);
}

.section.dark-theme:nth-child(8){
    border: solid 2px rgb(255, 254, 165);
    box-shadow: 5px 5px rgb(252, 255, 158);
}

.section.dark-theme:nth-child(9){
    border: solid 2px rgb(207, 200, 255);
    box-shadow: 5px 5px rgb(213, 186, 255);
}

.section.dark-theme:nth-child(10){
    border: solid 2px rgb(240, 167, 138);
    box-shadow: 5px 5px rgb(239, 162, 139);
}

.section.dark-theme:nth-child(11){
    border: solid 2px rgb(151, 240, 138);
    box-shadow: 5px 5px rgb(144, 239, 139);
}

.section.dark-theme:nth-child(12){
    border: solid 2px rgb(246, 209, 224);
    box-shadow: 5px 5px rgb(237, 203, 219);
}


/* .bar-se1-wrap.dark-theme{
    background-color: rgb(187, 237, 255);
}

.bar-se2-wrap.dark-theme{
    background-color: rgb(189, 255, 204);
} */


.box.dark-theme:hover{
    background-color: rgb(29, 29, 29);
}

.box.dark-theme:active{
    box-shadow: none;
}

.st1.dark-theme{
    border: 3px solid rgb(191, 191, 191);
}

.st2.dark-theme{
    border: solid 3px rgb(255, 78, 78);
    box-shadow: none;
    background-color: rgb(255, 119, 98);
}

.box.dark-theme a{
    color: white;
}

.start-btn.dark-theme{
    box-shadow: 4px 4px rgb(236, 113, 150);
    border: solid 2px rgb(232, 107, 107);
}

.mistake-btn.dark-theme{
    box-shadow: 4px 4px rgb(228, 137, 95);
    border: solid 2px rgb(240, 145, 101);
}

.new-btn.dark-theme{
    box-shadow: 4px 4px rgb(95, 179, 228);
    border: solid 2px rgb(101, 196, 240);
}


body.dark-theme{
    background-color: rgb(24, 26, 27);
    color: var(--dark-color);
}

.card-wrap.dark-theme{
    background-color: rgb(33, 33, 33);
    border: 3px solid rgb(195, 248, 255);
    box-shadow: 2px 5px rgb(195, 248, 255);
}

.indicater{
    background-color: rgb(255, 207, 185);
}

#indicater{
    background-color: rgb(255, 116, 17);
}

.card-word.dark-theme{
    background-color: rgba(255, 255, 255, 0.103);
}

.answer-btn.dark-theme{
    background-color: rgb(31, 31, 31);
    border: 3px solid rgb(173, 245, 255);
    color: white;
    box-shadow: none;
}

.show-btn.dark-theme{
    color: black;
}

.last-goto.dark-theme a{
    color: white;
}

#result-bar{
    color: black;
}