<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TANGO!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/style_section.css">
        <link rel="stylesheet" href="../static/css/style_home.css">
        <link rel="stylesheet" href="../static/css/style_dark.css">
        <link rel="stylesheet" href="../static/css/section.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
    </head>
    <body class="light-theme">
        <header class="light-theme">
            <div class="header-title"><a href="/">TANGO</a></div>
            
            <label for="btn-mode" class="light-theme">
                <input id="btn-mode" type="checkbox"> 
                <span class="slider"><span></span></span>
                <div class="darkmode-icon"></div>
            </label>
            <nav class="nav-bar box">
                <li class="nav-link"><a href="/section1/test">section1</a></li>
                <li class="nav-link"><a href="#">acount</a></li>
                <li class="nav-link"><a href="#">progress</a></li>
            </nav>
            <div class="nav-btn-wrap">
                <div class="nav-btn light-theme">
                    <span></span>
                </div>
            </div>
            
 
        </header>
        <div class="content-wrap">
        {% block content %}
        {% endblock %}
        </div>    
        <script src="/static/script.js"></script>
    </body>
</html>