{% extends 'base.html' %}
{% block title %}Tango{% endblock %}
{% block content %}
<div  class="bar-wrap indicater">
    <div id="indicater" class="bar" style="width:0">0</div>
</div>
<div class="item_wrapper">
    {% for word in words %}
    <div class="card-wrap light-theme value="{{ word.learning }}" >
        <p class="card-sec-num">section{{ section }}</p>
        <p class="card-word">{{ word.korean }}</p>
        <div></div>
        <p class="card-meaning">{{ word.meaning }}</p>
        <p class="card-pron">{{ word.pronounce }}</p>
        <form class="answer" type="POST" action="/section/up">
            <input type="hidden" class="id" value="{{ word.id }}" name="id">
            <input type="hidden" class="learning" name="learning">
            <button class="answer-btn light-theme btn1 last-btn" value="1">◯</button>
            <button class="answer-btn light-theme btn3" value="3">△</button>
            <button class="answer-btn light-theme btn3" value="3">✕</button>
        </form>
        <div class="show-btn-wrap"><p class="show-btn light-theme">答えを見る</p></div>
    </div>
    {% endfor %}
    <div class="card-wrap light-theme last-card">
        <form action="" method=""><input id="section-num" type="hidden" value="{{ section }}" name="section"></form>
        <h2 class="last-title-k">완료!</h2>
        <p class="last-title">完了！</p>
        <p id="result"></p>
        <p>今回の正解数</p>
        <!-- an:Answer-Num,ar:Answer-Rate -->
        <div class="bar-wrap an-bar3-wrap">  
            <div id="result-bar2" class="an-bar3" style="width:0%">nonumber</div> 
        </div>
        <p>全体の正解率</p> 
        <div  class="bar-wrap ar-bar3-wrap">
            <div id="result-bar" class="ar-bar3" style="width:0%">no number</div>
        </div>  
        <div class="last-goto">       
            <a class="lg1" href="#">recordを見る</a>
            <a class="lg1" href="/">home</a>
            <br>
            <a class="lg2">続ける</a>
        </div>
        
    </div>
</div>
{% endblock %}